
#entirepage{
background: linear-gradient(#000099 60%,#ff471a);
color:#ffffff!important;
margin:0!important;
padding-top:0!important;
font-family: 'Montserrat', sans-serif;

}


.container{
padding-top:15px;
color:#ffffff;
height:100%;}

.page-header{
background-color: #000099; 
color:#ffffff!important; 
border:none!important;
padding-bottom:25px;


}



#logoHeader{padding-left: 115px; float:left;}
#titleHeader{padding-top:100px; padding-bottom:30px;}







#footer{
background-color:#ff471a!important;
color:#ffffff!important;
height:0%}



.navbar {
padding-left:275px!important;
    background-color:#000099!important;
    border: none!important;
    margin:0;
    z-index: 9999;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1.65px;

}


.navbar-collapse{background-color: #000099; }


.navbar-nav  li  .dropdown-menu { background-color: #000099; }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ff471a!important;
    background-color: #000099 !important;}


.navbar-nav li {padding-top: 0px!important;
		padding-left:25px!important;  }


.navbar li a { color:  #ffffff !important;}

.navbar-toggle{ padding-top:10px!important; }


